@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 15px;
  padding: 20px 0;
}
@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  min-height: 100vh;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: bgMove 12s ease infinite;
  font-size: 26px;
  flex-direction: column;
  max-width: 95%;
}

@keyframes btnPulse {
  0% {
    transform: scale(1);
    background-color: #00f058;
  }
  50% {
    transform: scale(1.05);
    background-color: #39ff2b;
  }
  100% {
    transform: scale(1);
    background-color: #41ff7d;
  }
}

button {
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  /* color: white; */
  cursor: pointer;
  animation: btnPulse 3s infinite;
}
button:hover {
  background-color: #00ffb3;
  box-shadow: 0 0 20px #00ff40;
  transform: scale(1.1);

  transition: 0.3s;
}
.conunter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
input {
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #00c6ff;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ff416c;
  width: 330px;
  margin-top: 20px;
}

input:focus {
  border-color: #ff416c;
  box-shadow: 0 0 15px #ff416c;
  background-color: rgba(255, 255, 255, 0.2);
}

input:hover {
  border-color: #00ffea;
  box-shadow: 0 0 15px #00ffea;
  transform: scale(1.03);
  transition: 0.3s;
}
audio {
  display: none;
}

.counter_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  width: 700px;
  max-height: 700px;
}
.list {
  padding: 15px;
  width: 500px  ;
  background: rgba(45, 30, 130, 0.635);
  border-radius: 15px;
  color: #00ff40;
  position: relative;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  height: fit-content;
}
.list button {
  font-size: 15px;
  padding: 10px;
}
.list:hover {
  background: rgba(45, 30, 130, 0.735);
  transform: scale(1.03);
  transition: 0.3s;
}
.list h1 {
  font-size: 10px;
  position: absolute;
  right: 10px;
  bottom: 3px;
  color: #0f2027;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.edit {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.list input:disabled {
  background-color: transparent;
  border-color: transparent;
}
.list input:disabled:hover {
  box-shadow: unset;
  transform: unset;
  transition: 0.3s;
}
.list input {
  width: fit-content;
  height: fit-content;
  margin: 0;
}
.todolist {
  max-height: 600px;
  overflow-y: auto;
}
.todolist::-webkit-scrollbar {
  display: none;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

